a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    margin: 0;
}

address{
    font-style: normal;
}

img{
    display: block;

}

body{
    font-family: "Roboto", sans-serif;
    color: #2C2C2C;
    background-color: #FEFEFE;
}

.container{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.button{
    border-radius: 30px;
background: var(--Button-green, #BBF330);
min-width: 98px;
height: 32px;
cursor: pointer;
border: none;
color: var(--Black, #2C2C2C);
font-size: 13px;
font-weight: 500;
line-height: 1.5;
}

.fav {
}
.fav-title {
}
.fav-text {
}
.fav-icon {
    
}