a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;

}

body {
    font-family: "Roboto", sans-serif;
    color: #2C2C2C;
    background-color: #FEFEFE;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.button {
    border-radius: 30px;

    background: var(--Button-green, #BBF330);
    min-width: 98px;
    height: 32px;
    cursor: pointer;
    border: none;
    color: var(--Black, #2C2C2C);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.section-offerings {
    background-color: #FFE550;
    

background: var(--Button-green, #BBF330);

cursor: pointer;
border: none;
color: var(--Black, #2C2C2C);
font-size: 13px;
font-weight: 500;
line-height: 1.5;
}

.fav {
}
.fav-title {
}
.fav-text {
}
.fav-icon {

}

/* HEADER */
.header {
}
.header-container {
    display: flex;
    align-items: center;
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
.header-navigation {
    display: flex;
    align-items: center;
    margin: auto;
}
.header-logo {
    display: inline-flex;
    align-items: center;
    margin: 10px 735px 10px 16px;
    width: 66px;
    height: 52px;
    flex-shrink: 0;
}
.header-list {
    display: flex;
}
.header-list-item {
    margin-right: 28px;
}
.header-list-item:last-child {
    margin-right: 30px;
}
.header-list-link {
    display: block;
    position: relative;
    padding: 28px 0;
    color: var(--Black, #2C2C2C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.current {
    position: relative;
    color: #BBF330;
    text-decoration: underline;
    font-weight: bold;
}

.header-button {
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: var(--Button-green, #BBF330);
    color: var(--Black, #2C2C2C);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;  

}