a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    margin: 0;
}

address{
    font-style: normal;
}

img{
    display: block;

}

body{
    font-family: "Roboto", sans-serif;
    color: #2C2C2C;
    background-color: #FEFEFE;
}

.container{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.button{
    border-radius: 30px;
background: var(--Button-green, #BBF330);
min-width: 98px;
height: 32px;
cursor: pointer;
border: none;
color: var(--Black, #2C2C2C);
font-size: 13px;
font-weight: 500;
line-height: 1.5;
}

.fav {
}
.fav-title {
}
.fav-text {
}
.fav-icon {
    
}

.customers {
    background: #FFE550;
    width: 1277px;
        height: 620px;
}
.cust-header {
    color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 32px;
        padding-top: 140px;
}
.cust-text {
    color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 32px;
        padding-top: 20.4px;
}
.comments {
    background-color: var(--White, #FEFEFE);
    width: 501px;
        height: 231.579px;
        margin-top: 32.65px;
        margin-left: 32px;
        padding-top: 14.28px;
        padding-left: 14px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .comments-text {
        color: var(--Black, #2C2C2C);
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 14px;
            padding-top: 28.56px;
            padding-right: 14px;
    }
    .man {
        padding-left: 14px;
        padding-top: 42.81px;
    }
    .wrapper {
        display: flex;
    }
    .name {
        display: block;
        padding-top: 44.81px;
        padding-left: 16px;
        color: var(--Black, #2C2C2C);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
    }
    .line {
        background: #7EB101;
        width: 1px;
            height: 52px;
            margin-top: 40.81px;
            margin-left: 15px;
    }
    .coments-item {
        display: flex;
        gap: 139px;
    }
